@app_font: "Helvetica Neue";
@message_default_text_color: #474147;
@message_default_background_color: #F1F3F5;
@message_current_user_text_color: #FFFFFF;
@message_current_user_background_color: #8D959D;

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeueCyr-Light.otf');
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/futura-normal.ttf');
}

.app {
    background: url('../assets/background.png') no-repeat;
    background-size: 100% auto;
}

div.ChatApp {
    // width: 1200px;
    min-height: 768px;
    margin: 0 auto;
    font-family: @app_font;
}

.intro-screen {
    height: 100%;
    margin: auto;
    font-size: 16px;
    padding: 70px 0;
    text-align: center;

    h5 {
        color: white;
    }

    section.address-section {
        width: 357px;
        height: 50px;
        margin: auto;
        padding: 130px 10px;
        text-align: center;
        left: 300px;

        button {
            margin-left: 205px;

            a {
                text-decoration: none;
            }
        }
    }
}

#message_font() {
    font-family: @app_font;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

    // color: #474147;
}

.message-screen {
    width: 978px;
    max-width: 978px;
    margin: 0 auto;
    padding: 200px 0;

    .messages {
        overflow-y: auto;
        height: 417px;
        background-color: rgba(255, 255, 255, 0.8);

        .message {
            min-height: 50px;
            width: 500px;
            display: grid;
            grid-template-columns: minmax(100px, auto) minmax(100px, auto);
            grid-template-rows: minmax(50px, auto) 50px;

            .message-user {
                height: 17px;
                width: 58px;
                color: @message_default_text_color;
                #message_font();
                grid-row: 1;
                align-self: center;
            }

            .message-text {
                #message_font();
                width: 300px;
                padding: 10px;
                min-height: 30px;
                background-color: @message_default_background_color;
                position: relative;
                border-radius: .4em;
                grid-row: 1;

                &:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    top: 43%;
                }
            }

            .message-datetime {
                height: 18px;
                width: 34px;
                color: #8D959D;
                font-family: @app_font;
                font-size: 12px;
                line-height: 17px;
                grid-row: 2;
            }
        }


        .message.left {
            .message-user {
                grid-column: 1;
            }

            .message-datetime {
                grid-column: 2;
                margin-left: 15px;
            }

            .message-text {
                grid-column: 2;
                color: @message_default_text_color;
                background-color: @message_default_background_color;

                &:after {
                    left: 0;
                    border-right-color: @message_default_background_color;
                    border-left: 0;
                    margin-top: -10px;
                    margin-left: -10px;
                }
            }
        }

        .message.right {
            margin-left: 50%;

            .message-user {
                grid-column: 2;
            }

            .message-datetime {
                grid-column: 1;
                float: right;
                clear: both;
                margin-left: 15px;
            }

            .message-text {
                grid-column: 1;
                background-color: @message_current_user_background_color;
                color: @message_current_user_text_color;

                &:after {
                    right: 0;
                    border-left-color: @message_current_user_background_color;
                    border-right: 0;
                    margin-top: -10px;
                    margin-right: -10px;
                }
            }
        }
    }

    .message-send-controls {
        display: grid;
        grid-template-columns: 1fr 42px;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;

        height: 54px;
        width: 978px;
        position: fixed;
        bottom: 15px;
        // border-top: 1.17px solid rgba(206, 212, 218, 0.5);

        textarea {
            width: 95%;
        }

        button {
            background-image: url('../assets/send-icon.jpg');
            // width: 16px;
            // height: 16px;
            align-self: start;
            // border: 0px;
            // cursor: pointer;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}