@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/HelveticaNeueCyr-Light.otf');
}
@font-face {
  font-family: 'Futura';
  src: url('../assets/futura-normal.ttf');
}
.app {
  background: url('../assets/background.png') no-repeat;
  background-size: 100% auto;
}
div.ChatApp {
  min-height: 768px;
  margin: 0 auto;
  font-family: "Helvetica Neue";
}
.intro-screen {
  height: 100%;
  margin: auto;
  font-size: 16px;
  padding: 70px 0;
  text-align: center;
}
.intro-screen h5 {
  color: white;
}
.intro-screen section.address-section {
  width: 357px;
  height: 50px;
  margin: auto;
  padding: 130px 10px;
  text-align: center;
  left: 300px;
}
.intro-screen section.address-section button {
  margin-left: 205px;
}
.intro-screen section.address-section button a {
  text-decoration: none;
}
.message-screen {
  width: 978px;
  max-width: 978px;
  margin: 0 auto;
  padding: 200px 0;
}
.message-screen .messages {
  overflow-y: auto;
  height: 417px;
  background-color: rgba(255, 255, 255, 0.8);
}
.message-screen .messages .message {
  min-height: 50px;
  width: 500px;
  display: grid;
  grid-template-columns: minmax(100px, auto) minmax(100px, auto);
  grid-template-rows: minmax(50px, auto) 50px;
}
.message-screen .messages .message .message-user {
  height: 17px;
  width: 58px;
  color: #474147;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  grid-row: 1;
  align-self: center;
}
.message-screen .messages .message .message-text {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  width: 300px;
  padding: 10px;
  min-height: 30px;
  background-color: #F1F3F5;
  position: relative;
  border-radius: 0.4em;
  grid-row: 1;
}
.message-screen .messages .message .message-text:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  top: 43%;
}
.message-screen .messages .message .message-datetime {
  height: 18px;
  width: 34px;
  color: #8D959D;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 17px;
  grid-row: 2;
}
.message-screen .messages .message.left .message-user {
  grid-column: 1;
}
.message-screen .messages .message.left .message-datetime {
  grid-column: 2;
  margin-left: 15px;
}
.message-screen .messages .message.left .message-text {
  grid-column: 2;
  color: #474147;
  background-color: #F1F3F5;
}
.message-screen .messages .message.left .message-text:after {
  left: 0;
  border-right-color: #F1F3F5;
  border-left: 0;
  margin-top: -10px;
  margin-left: -10px;
}
.message-screen .messages .message.right {
  margin-left: 50%;
}
.message-screen .messages .message.right .message-user {
  grid-column: 2;
}
.message-screen .messages .message.right .message-datetime {
  grid-column: 1;
  float: right;
  clear: both;
  margin-left: 15px;
}
.message-screen .messages .message.right .message-text {
  grid-column: 1;
  background-color: #8D959D;
  color: #FFFFFF;
}
.message-screen .messages .message.right .message-text:after {
  right: 0;
  border-left-color: #8D959D;
  border-right: 0;
  margin-top: -10px;
  margin-right: -10px;
}
.message-screen .message-send-controls {
  display: grid;
  grid-template-columns: 1fr 42px;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 54px;
  width: 978px;
  position: fixed;
  bottom: 15px;
}
.message-screen .message-send-controls textarea {
  width: 95%;
}
.message-screen .message-send-controls button {
  background-image: url('../assets/send-icon.jpg');
  align-self: start;
}
.message-screen .message-send-controls button img {
  width: 16px;
  height: 16px;
}
